<%- layout('/layouts/bplate') %>
<body>
    <div class="row" style="margin-top: 15px; background-color: aquamarine;">
        <div class="col">
            <img class="size" class="img-thumbnail" src="<%= listen.pic %>" alt="">
        </div>
        <div class="col">
            <h4>Name : <%= listen.pic_name %></h4>
            <h5>Price<%= listen.pic_price %></h5>
            <h6>Description <br><%= listen.pic_des %></h6>
        </div>
    </div>
</body>